<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1>Profile</h1>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/events/">EVENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/events/addEvent">ADD AN EVENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/login">SIGN-IN</a>
        </li>
        <li class="nav_item active">
            <a class="nav-link" href="/profile">PROFILE</a>
        </li>

    </ul>
</nav>

<br>

<div>
    <h2>Attending Events</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Attending</th>
            <th scope="col">Event</th>
            <th scope="col">Location</th>
            <th scope="col"></th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>



        </tbody>
    </table>
</div>

<div>

    <h2>Hosting Events</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Attending</th>
            <th scope="col">Event</th>
            <th scope="col">Location</th>
            <th scope="col"></th>
            <th scope="col"></th>


        </tr>
        </thead>
        <tbody>

        <% for(var i=0; i< hostingEvents.length; i++) {%>
            <tr>
                <td scope="row"><%= hostingEvents[i].numberAttending %></td>
                <td><%= hostingEvents[i].eventName %> </td>
                <td><%= hostingEvents[i].location %></td>
                <td>
                    <form class = "inlineButton" action = "/events/updateform" method = "POST">
                        <input type = "hidden" name = "updateID" value = <%=hostingEvents[i]._id%>>
                        <input type="submit" class="btn btn-primary" value = "Update Event">
                    </form>

                    <form class = "inlineButton" action = "/events/cancel" method = "POST">
                        <input type = "hidden" name = "eventID" value = <%=hostingEvents[i]._id%>>
                        <input type="submit" class="btn btn-danger" value = "Cancel Event" onclick="cancelWarning()">
                    </form>
                </td>

            </tr>
        <% } %>

        </tbody>
    </table>

</div>
<br>
<br>
<div>
    <h2>Profile Information</h2>
    <div>Username: <%=users.username%></div>
    <div>Account ID: <%=users.id%></div>
    <div>
        <a class="btn btn-primary" href="/profile/updateform">UPDATE ACCOUNT</a>
        <a class="btn btn-warning" href="/profile/logout">LOGOUT</a>
        <a class="btn btn-danger" href="/profile/delete">DELETE ACCOUNT</a>
    </div>
</div>

<script>
    function cancelWarning()
    {

        var cancel = confirm("Are you sure you want to cancel this event? \n A message will be sent to each participant");

        if(cancel)
        {


            var XHR = new XMLHttpRequest();

            XHR.open('POST', 'http://localhost:3000/events/cancel', true);

            console.log('Successfully Cancelled');


        }


    }
</script>